html
	head
		link(rel="stylesheet", href="/css/styles.css")
		link(rel="stylesheet", href="/css/captcha.css")
	body
		div(class="center")
			h2 Contact Form CAPTCHA Test
			p I look forward to contacting you unless of course you are a robot!
			div(class="captcha-background")
				img(id="captcha", src= canvas)
				form(action="/captcha", method="post", id="validate")
					input(type="hidden", value= id, name="id")
					input(name="answer", placeholder="Match captcha phrase here")
					br
					br
					button Submit
