html
	head
		link(rel="stylesheet", href="/css/styles.css")
	body
		h1 Submission Failed!
		br
		p You probably reached this page because your message was larger than the upper bound limit. Try making your message smaller. 
