html
	head
		link(rel="stylesheet", href="/styles.css")
	body
		form(id="form", action="/contact" method="post")
			label Name:
				input(type="text", name="name", required)

			label E-mail
				input(type="email", name="email", required)

			label Message:
				textarea(name="message", rows="6", cols="20", required)

			button(type="submit", value="Submit") Send Message
			
