html
	head
		link(rel="stylesheet", href="styles.css")
	body
		h1 Message sent Successfully!
		br
		p I have received your request and look forward to contacting you soon!
		p: a(href="/") Back to main page.
