html
	head
		link(rel="stylesheet", href="/css/styles.css")
	body
		h1 Welcome To My Portfolio Site
		p Hello I am Dustin Rosenberry a developer who is passionate about building effective software that solves problems. My current tech interests include web development, blockchain technology, data science, and data bases.
		
		h2 Languages And Tech Stacks
		p  I enjoy designing projects and programming in a variety of languages. Some of the languages and tech stacks I use regularly include:
		br
		ul
			li Python
			li Flask
			li Jinja Templating Engine
			li Rust
			li JavaScript
			li Node JS
			li Express
			li CSS
			li HTML
			li Pug Templating Engine

		
		h2 My Favorite Projects
		h3 DFK Summoner Sheet Website
		p Defi Kingdoms is a blockchain based game played with NFTs and fungible game resource crypto currencies. My website helps players with the most complicated aspect of the game, summoning new heros for your in game NFT collection. This project takes real time data from the Defi Kingdoms and Klaytn blockchains and is the only tool to my knowledge which allows you to compare potentional summoning pairs side by side in real time to help you choose the best pair before you perform a summon.
		
		h3 Lorem ipsum dolaor sit amet.
		p Lorem ipsum dolor sit amet, consectetur adipsicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, wquis nostrud exercitation ullamco laboris nisi ut aliquip ex ea cmmodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum doore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat not proident, sunt in cupla qui officia deserunt mollit anim id est laburm.
		
		h3 Lorem ipsum dolaor sit amet.
		p Lorem ipsum dolor sit amet, consectetur adipsicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, wquis nostrud exercitation ullamco laboris nisi ut aliquip ex ea cmmodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum doore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat not proident, sunt in cupla qui officia deserunt mollit anim id est laburm.
		
		h3 Lorem ipsum dolaor sit amet.
		p Lorem ipsum dolor sit amet, consectetur adipsicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, wquis nostrud exercitation ullamco laboris nisi ut aliquip ex ea cmmodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum doore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat not proident, sunt in cupla qui officia deserunt mollit anim id est laburm.
		
		footer
			a(href="captcha") Contact Me
