.center {
	text-align: center;
}

.form-element {
	margin-top: 1%;
}

.button {
	margin-top: 1%;
}

.reason {
	vertical-align: middle;
}

table {
	text-align: justify;
}

td {
	margin-right: 3%;
	margin-bottom: 3%;
}

.radio-table {
	display: inline-block;
}
