@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
	font-family: "PressStart2P";
	src: url("/fonts/pressStart2p.woff2") format("woff2"),
			 url("/fonts/pressStart2p.ttf") format("ttf");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: hsl(240, 100%, 34%);
  font-family: Arial, Helvetica, sans-serif;
}
