@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
	.no-scrollbar {
		scrollbar-width: none;
	}

	@media (min-aspect-ratio: 1/1) {
		.project-swap .snap-start {
			opacity: 0.05;
			
	
		}
  }
}
